.home {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 33.3% 66.6%;
	margin-left: 5%;
	margin-top: 5%;
}

.home-2 {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 13.3% 82.6%;
	grid-template-rows: 50px 50px;
	margin-left: 0%;
	margin-top: 5%;
}

.user-avatar {
	width: 280px;
	height: 280px;
	border-radius: 2px;
	box-shadow: 0 0 4px NaNpx var(--black-40);
}

.user-name {
	width: 280px;
	height: 40px;
	margin: 12px 67px 0.5px 3px;
	font-family: Raleway;
	font-size: 35px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #000000;
}

.user-login {
	width: 280px;
	height: 25px;
	margin: 7px 67px 28px 3px;
	font-family: Raleway;
	font-size: 20px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #5c5c5c;
}
/* icons */
.organization-icon {
	width: 24px;
	height: 24px;
	margin: 23px 16px 0 16px;
	object-fit: contain;
}

.star-icon {
	width: 24px;
	height: 24px;
	margin: 23px 16px 0 16px;
	object-fit: contain;
}

.location-icon {
	width: 24px;
	height: 24px;
	margin: 23px 15px 0 16px;
	object-fit: contain;
}

.repositorie-icon {
	width: 24px;
	height: 24px;
	margin: 22px 18px 1px 15px;
	object-fit: contain;
}

.followers-icon {
	width: 24px;
	height: 24px;
	margin: 23px 142px 0 18px;
	object-fit: contain;
}

/* texts */

.organization-name {
	width: 240px;
	height: 22px;
	margin: 27px 76px 12px 7px;
	font-family: Raleway;
	font-size: 20px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #5c5c5c;
}

.location-name {
	width: 240px;
	height: 22px;
	margin: 20px 76px 13px 7px;
	font-family: Raleway;
	font-size: 20px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #5c5c5c;
}

.star-count {
	width: 240px;
	height: 22px;
	margin: 20.7px 76px 2px 7px;
	font-family: Raleway;
	font-size: 20px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #5c5c5c;
}

.repositories-count {
	width: 240px;
	height: 22px;
	margin: 20px 76px 1px 7px;
	font-family: Raleway;
	font-size: 20px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #5c5c5c;
}

.followers-count {
	width: 240px;
	height: 22px;
	margin: 23px 76px 22.8px 7px;
	font-family: Raleway;
	font-size: 20px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #5c5c5c;
}
